streamlit
pyarrow==10.0.1
snowflake-snowpark-python
notebook
jupyterlab
scikit-learn
scikit-learn-intelex
pandas
matplotlib
seaborn
# Optional install for doing snowflake nb snowpark this will take work to get the docker image to work
snowflake-ml-python