spec:
  containers:
    - name: <<image_name>>
      image: <<repository_url>>/<<image_name>>
      env:
        SNOWFLAKE_WAREHOUSE: <<warehouse_name>>
      volumeMounts:
        - name: juypter-nbs
          mountPath: /home/jupyter
  endpoints:
    - name: <<image_name>>
      port: 8080
      public: true
  networkPolicyConfig:
      allowInternetEgress: true
  volumes:
    - name: juypter-nbs
      source: "@volumes/juypter-nbs"
      uid: 1000
      gid: 1000